강사: 김성환<br>
수업관련 질문: kgmyh@naver.com <br>
http://192.168.0.7/share/ 에서 강사가 올린 자료들 받을수 있음<br> 

---------------------------------------------------------------------------------
# 과정 개요

### 앞으로 배울 내용들
- SQL - 관경(정형) 데이터를 다루는 언어
- 데이터 전처리
- 데이터 수집 (웹 크롤링), machine learning이 학습하기/분석하기 좋게 만들기.
- 판다스 - SQL과 비슷
- 넘파이 - vector처리, machine learning...
- 머신러닝 - 데이터 기반 예측모델
- 딥러닝 - type of machine learning algorithm 50s -> 90s-> 2000년대 실용
- Django - 파이썬 프레임워크
- VUE.JS - 자바 스크립트 라이브러리. 화면만들기 기술. 반응형 웹.
--------------------------------------------------------------------------------

# Tools

### 파이썬
- 주피터 노트북 (파이썬 기초)
- visual studio code (코드 에디터; 일괄실용; 웹)
- google colab (cloud base; GPU 제공)

### SQL
 - oracle XE 11g
 - SQL Developer (에디터 역할 툴)

# Python

- Anaconda - python 개발/실행환경, python 배포판 (core+여러 라이브러리, tool, package 를 미리 묶어 배포해 놓음)
- 파이썬 2점대, 3점대 문법이 다름. 
- 프로그래밍 언어 interpreted(번역) 방식: (고급언어 -> 번역 -> 저급/기계어)

### 프로그래밍 언어 방식:
- Interpreted 방식(대화형, 스크립트 언어): 단위별로 바꾸기 (e.g. jupyter notebook). interpreter (실행 환경) 필요. 장: O/S독립적 단: 느리다.
- Compile 방식: 통째로 바꾸기 (e.g. visual studio code) 번역이 끝난 언어를 O/S에서 실행.  장: 빠르다. 단: O/S 종속 <br>

대화형 코딩
REPL
READ `1+1`
Eval `2`
Print `2`
Loop


# Jupyter Notebook

- 대화형 (interpreted) 방식
- ***.md -> markdown (스타일, 문서작성 가능) 처리결과를 중간 중간 보여줄 수 있음

### 단축키
Help -> keyboard
- Run (ctrl+enter/ shift+enter)
- 명령모드: 셀에대한 상태를 바꿀때 (m) <-> (y)
- A B add line
- X delete <-> Z undo
- esc <-> enter


# Python 툴 설치

- Python 라이브러리 배포: Pypi.org
- 아나콘다 배포: anaconda.org/anaconda/repo 이곳의 툴은 조금 더 안정적이다.

*위의 웹사이트에서 명령어를 따온 후 명령 프롬트에서 실행하면 설치됨*

________________________________________________________________________________________________

# Data

## - 변수 (variable): 
- RAM에 저장할 공간을 만들고, 값을 저장. 이름을 붙여서 값을 불러냄. 
- 이름 = 초기값 (초기값에 이름을 주어라)
- 튜플대입: `이름 (변수), 이름, 이름 = 값,값,값` <br>
- python은 동적 타입 언어
    - **동적 타입 언어**: e.g.) age = 10 / age = "스무살" 둘다 사용 가능.
    - **정적 타입 언어**: 변수를 만들때 변수의 type를 정함 e.g.) C++; var type 정수  ->  나중에 텍스트 넣을수 없음 
    - **상수** 
    - **literal value**:표현식 자체가 값 e.g) 1+2: literal 값이 아님; 3: literal 값

### 변수선언및 초기화
`변수명 = 값`
- 처음 정의한 값 = 초기값
- 변수는 반드시 선언하면서 값을 대입해야 한다.
- 선언시 대입할 값이 없으면 None을 대입 (`name = None`)

In [276]:
name = None #None: 값이 없다란 의미의 값.
name

- 가능한 구체적으로!
- 이름을 만들때 규칙과 관례가 있다.
    - 규칙: 어기면 에러남 <br>
    e.g.)`name2 = "김영수"` <br> 가능
 `3name = "박영희"`  변수명은 숫자로 시작할수 없다.<br>
 `name$3 = "박영희"` 특수문자는 _ 만 가능
    - 관례: 어기면 에러는 안나는데 서로 헷갈림; 소문자, _로 단어구별. <br>e.g.) customer_name: snake 표기. (customerName: camel표기는 python에서 사용X)

### 변수사용
- 조회: 변수명을 쓰면 그 변수가 가진 값을 조회해 사용한다. `변수명`
- 변경: `변수명 = 새값`

In [280]:
# 주석(코드에 설명. 실행되지 않음) 시작, 끝: 엔터 -> 한줄주석

age = 20 # 변수 선언; 초기값 20
age = 30 #변경
age # 변수조회

30

- 변수에 값 대입
    1. 여러 변수에 동일한 값 대입<br>
     `a = b = c = 30`
    1. 여러 변수에 다른 값 대입을 한 구문으로 처리<br>
    `a, b, c = 10, 20, 30`

- 제거: `del 변수명`

In [281]:
del age #변수 age를 제거
age

NameError: name 'age' is not defined

## - 처리 
- 연산자 (기호)  e.g) +, -
- 함수 (기능을 프로그램으로 작성)  e.g) sum

In [283]:
num2, num3 = 3,2
num2 + num3

5

In [284]:
num2 = "삼십"
num2+num3

TypeError: can only concatenate str (not "int") to str

In [13]:
type(num2) #변수가 가진 값의 데이터타입 조회
# str: 문자열, int: 정수, float: 실수, bool: 논리형

str

In [14]:
type(num3)

int

_________________________________________________________________________________

# Data type - 값(data) 분류

data type 에 따라 표현식, 처리(연산자, 함수)가 달라짐.

### 1. 숫자형 
- 정수 (*int*) <font color = "blue"> 표현식: 1, 2, 3 </font>
- 실수 (*float*) <font color = "blue">표현식: .7, 0.7, 5.7, 7.5e10</font>
- 8진수 <font color = "blue">표현식: 0o34, 0o23</font>
- 16진수 <font color = "blue">표현식: 0x2A, 0xFF</font>
- 연산자: `** 제곱`; `// 나누기 몫`; `% 나머지`

### 2. 문자열
- string (*str*)

### 3. 논리형
- 참/거짓 표현 (*bool*)
- 값(Value) 표현식:
    - True: 참: 나머지
    - False: 거짓: 0, None
- 주로 조건문에서 많이 사용
- bool(값) 함수

- 연산자:
    - **비교 연산자**: 결과를 논리형. `== 같다`, `!= 같지 않다`, `>= 크거나 같다`, `> =`는 맞지 않는 표현 
    - **논리 연산자**: 피연산자, 결과 모두 논리형. 여러 논리 연산자를 묶을때 사용. `& (and): true+true -> Frue, otherwise False`. `| (or): False+False -> False, otherwise True`, `^: 두 값이 다르면 -> True, 두 값이 같으면 -> False` `not: True -> False, False -> True`e.g.) 스무살이 아닌 사람 `not(age == 20)`
    - **조건 연산자 (삼항 연산자)**: 조건이 true, false 이냐에 따라 결과값을 반환.  `Value1 if 조건식 else Value2: if 조건식이 True -> Value1, if 조건식이 False -> Value2`
    

### 4. 사용자정의 data type
- class (객체지향 프로그램)

In [15]:
num = -3
str = '양수' if num >= 0 else '음수'
str

'음수'

In [16]:
money = True
if money:
    print ("택시")
else:
        print ("걸어라")

택시

In [17]:
money = False
if money:
    print ("택시")
else:
        print ("걸어라")

걸어라

In [19]:
money = None
if money:
    print ("택시")
else:
        print ("걸어라")

걸어라

In [23]:
money = None  # None 은 부등식 >, = ... 을 조건으로 사용 불가능
card = False

if money >= 4000 or card:
    print ("택시")
    print ("타라")
else:
        print ("걸어라")

TypeError: '>=' not supported between instances of 'NoneType' and 'int'

In [20]:
money = 100
"택시" if money else "걸어라"

'택시'

In [21]:
num3

3

**Note** 주피터 노트북 껐다 키면 변수들이 메모리에서 지워짐. <br>
다시 모든 코드를 실행해야 함 <br>
`Menu -> Cell -> Run All/Run All Above...`

## 1. 숫자형 (정수, 실수)

##### 실수형

In [26]:
.5

0.5

##### 16진수: `0x`
- RGB색 지정할때 사용 (1 2 3 4 5 6 7 8 9 10 A B C D E F)

In [254]:
0XAF34

44852

##### 8진수 : `0o`

In [28]:
0o73 #8진수 0o

59

##### 연산자:
곱셈: `*`

In [29]:
2 * 5

10

제곱: `**`

In [256]:
2 ** 5 #2의 5승

32

나누기: `/`

In [40]:
10 / 4

2.5

몫: `//`

In [41]:
10 // 4

2

나머지(remainder): `%`

In [257]:
10 % 4 #나머지 Remainder

2

- 나머지 연산자는 어떤 숫자의 배수를 확인할때 사용 할 수 있다

In [35]:
num = 10
# 3의 배수
(num % 3) == 0

False

## 2. 논리형 

### `bool` 자료형
- 값: True, False
- False: `0, "", None`
- True: `0, "", None`를 제외한 나머지

In [44]:
bool(0)

False

In [46]:
bool(-5)

True

In [47]:
bool("a")

True

In [48]:
bool("")

False

In [50]:
bool(" ") # space도 글자로 인식

True

In [52]:
bool(None)

False

### `input()` 
- 사용자한테 값을 입력받을때 사용

In [1]:
input() #사용자한테 값을 입력받을때 사용

ㅗㅗ

'ㅗㅗ'

In [286]:
name=input("이름:") # 사용자한테 입력값에 대해 알려줌

이름:

In [287]:
name

''

In [2]:
name2=input("이름:")

이름:

In [12]:
bool(name2)

False

In [289]:
name if name else "이름 입력하세요" #name이 True (값이 있으며)면, name. else "이름 입력하세요"

'이름 입력하세요'

**NB** 논리형 앞에 variable 지정 가능

In [290]:
name3 = name2 if name2 else input("이름 입력하세요")

In [291]:
name2

'김영수'

### 비교연산
- `a > b ` -> `True` 나 `False`로 나타냄<br>
- e.g.) `10 > 5` --> `True`

In [17]:
# 비교연산
10 > 5 #왼쪽항 기준으로, 왼쪽이 오른쪽보다 크면 -> True

True

In [18]:
age = 20
age > 19

True

In [23]:
age = 20
name = "홍길동"

In [36]:
# 나이가 19세 이상이고 이름은 홍길동인가?b
age >= 19 & name == "홍길동" # &: 피연산자 둘다 True일때만 True. 하나라도 False면 False

TypeError: unsupported operand type(s) for &: 'int' and 'str'

*---> &가 비트연산을 하기 때문에 19 와 name을 먼저 연산 함. 괄호로 묶어서 연산의 우선순위를 정해야만 함*

In [31]:
# 나이가 19세 이상이고 이름은 홍길동인가?
(age >= 19 ) & (name == "홍길동") # &: 피연산자 둘다 True일때만 True. 하나라도 False면 False

True

In [37]:
# 나이가 19세 이상이고 이름은 홍길동인가?
age >= 19  and name == "홍길동" # &: 피연산자 둘다 True일때만 True. 하나라도 False면 False

True

In [43]:
age >= 19  or name == "이순신" # 둘중 하나만 True 면 True  
(age >= 19)  | (name == "이순신") #혹은

True

In [53]:
# 나이가 20세 이상이 아닌가?
not age >= 20
age <19 #혹은

False

In [54]:
0 and 0

0

In [55]:
None and 0

In [56]:
True and 0

0

In [57]:
True and False

False

In [58]:
False and 0

False

In [59]:
True and 0

0

In [60]:
True and None

### None
- 아무 값도 없음을 나타내는 값
- 다른 언어에서는 `Null` 사용

## 3. 문자열형 (string) 
`"`,`'` 둘다 사용 가능. --> 한줄안에서만 사용 가능.

In [297]:
print("C's store")
print('I said "Stop it"')

C's store
I said "Stop it"

여러줄이면 `'''` 혹은 `"""` 으로 감싼다

In [301]:
print("""1234+56789
48595+0797""")
print("""123\n456""")
print('''123＼4456''')

1234+56789
48595+0797
123
456
123＼4456

Note: font에 따라 \n이나＼이 줄바꿈으로 사용가능

print(  ,  , `end = "-"`): "-"로 출력이 끝나고 다음 출력이 같은 줄로 이어서 나옴

In [302]:
print(1,2,3, end="*")
print(5,4)

1 2 3*5 4

print(,, `sep = "-"`): 출력값 구분자 지정. "-"가 출력값 사이에 옴

In [305]:
print("A","b","C", sep = "-") # 출력값 구분자 지정. 여러개 출력 가능

A-b-C

`str("숫자")`: 숫자를 문자열로 바꾸기

In [66]:
str("200")+"나이" # 숫자 200을 문자열로 바꿈

'200나이'

**`n*문자열`: 문자열을 n회 반복**

In [306]:
"-"*20 #문자열 20회 반복

'--------------------'

**`len("문자열")`: 문자열의 글자수 세기**

In [308]:
len("홍길동")

3

**`in`/`not in`: 특정 문자열이 있는지/없는지 확인  -> True/False 로 return**

In [312]:
'he' in "hello"

True

In [325]:
"서초구" not in "서울시 강남구"

True

### 문자열 인덱싱과 슬라이싱

- 인덱싱: 여러개중 하나만 조회  0000000000000000000000`0`0000000;        h`e`llo
- 슬라이싱: 범위로 조회   0000000000000000000000`00000000000`;         he`ll`o

**index**<br>
 - 각 원소를 수분하는 식별자로 0부터 1씩 증가하는 값. 
 - 자동생성. 
 - 대괄호 `[]` 사용. 
 - 조회: `문자열 [index]` <br>
- e.g.) 안녕하세요 <br>
index:0  1  2  3  4 (앞에서 0부터 시작. 파이썬에서는 0이 양수) <br>
index:     -5 -4 -3 -2 -1 (뒤에서 -1 부터 시작)
<img src="1_1.jpg" style = "width:500px">

In [313]:
s = "안녕하세요"
s[0] # 첫번째 글자

'안'

In [315]:
print(s[2], s[-2]) # 앞에서 3번째, 뒤에서 2번째 글자

하 세

- 없는 인덱스는 조회 불가능

In [316]:
print(s[30]) # 없는 인덱스는 조회 불가능

IndexError: string index out of range

- 조회만 가능. 변경은 불가능

In [77]:
value[0] = 이 #조회만 가능. 변경은 불가능

NameError: name '이' is not defined

**slice**<br>
`문자열 [시작:끝: 증강increment]` 
NB: 
- 시작: 시작 index
- 끝 - 1: 종료 index

생략가능
- 시작 생략: 0부터
- 끝 생략: 마지막 까지 다
- 증강 생략: 증강 = 1
- `문자열[:]`: 모두 다

In [319]:
t = "0123456789"
t[0:5] #시작 index = 0 ~ 종료 index = 4

'01234'

In [320]:
t[:5]

'안녕하세요'

In [154]:
t[5:]

'56789'

In [156]:
t[::3] #처음~끝, 3씩 증가

'0369'

In [161]:
t[2:-2]

'234567'

증강이 -1이면 뒤에서부터 불러옴

In [322]:
print(t[0:3],t[9:1:-1])

012 98765432

범위 외의 값은 blank

In [323]:
s[9:1]

''

### 문자열과 숫자를 합쳐서 새로운 variable을 만들때

`name+age` ---> `str` + `int` ----> 에러 <br>
age를 string type로 바꾸어 주어야 함

In [3]:
name, address, age = "홍길동", "서울시 서초구", 20

In [331]:
info = "이름:" + name + ", 나이:" + str(age) + ", 주소:" + address
info

'이름:홍길동, 나이:20, 주소:서울시 서초구'

In [332]:
type(age)

int

## 문자열 formatting
- 문자열에 문장 형태를 미리 만들어 놓고 값은 나중에 대입하는 방식으로 문자열을 만드는 것
- 위의 방법으로 문자열을 합칠 경우 일일이 type를 바꾸어 주어야 하므로 번거롭다

- format() 함수 이용

#### format 함수이용 첫번째 방식
- `"서식문자열{}, , .. ".format(var, , )`
- variable 대신 값을 넣어도 됨

In [333]:
info2 = "이름: {}, 나이:{}, 주소:{}".format(name, age, address) 
info2

'이름: 홍길동, 나이:20, 주소:서울시 서초구'

#### format 함수이용 두번째 방식:
- 괄호가 많아지면:
- 동일한 값을 여러군데에서 사용할 경우 번호 지정해 사용
- `"서식문자열{0},서식문자열{1}, ".format(var, , )`

In [334]:
info3 = '이름: {0}, 나이:{1}, 주소: {2},{1}'.format(name, age, address)
info3

'이름: 홍길동, 나이:20, 주소: 서울시 서초구,20'

#### format 함수이용 세번째 방식
- variable이 너무 많아서 순서를 맞추기 힘들 때
- format 안에서 순서가 바뀌어도 괜찮음
- `"서식문자열{var}, , ".format(var = 값, , )`

In [336]:
info4 = "이름: {name}, 나이: {age}, 주소: {address}, {address}".format(name=name, address=address, age=age)
info4

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구, 서울시 서초구'

#### format 함수이용시 정렬
- `"{0:<총자릿수}".format()`: 왼쪽으로 정렬. 
- `"{0:>총자릿수}".format()`: 오른쪽으로 정렬.
- `"{0:^총자릿수}".format()`: 가운데로 정렬.
- `"{0:*<총자릿수}".format()`: *로 공백채우기, 가운데로 정렬
- `"{0:총자릿수.소숫점f}".format(숫자)`: 숫자의 소숫점을 나타냄
- `"{{문자열}}".format()`: {문자열}를 문자 그대로 사용할때

In [16]:
print("{0:<10}".format("hi"))
print("{0:*>10}".format("hi"))
print("{0:^10}".format("hi"))
print("{0:*^10}".format("hi"))
print("{0:15.6f}".format(134.9032))
print("{{그거슨아니지}} {}".format(23))

hi
********hi
    hi
****hi****
     134.903200
{그거슨아니지} 23

#### 문자열 formating 연산자 `%` 사용
- 값이 들어갈 부분을 값의 타입과 매칭되는 형식문자를 사용
- 들어가는 부분의 타입이 확실해야 할때 사용
- %s: 문자열, %d: 정수, %f: 실수, %c: 문자 한개
- 넣어줄 값은    `"서식문자열%data_type, , .."%(var,값 , , ...)` 순서대로 들어감
- %%: %
- *%s: 자동으로 %뒤의 값을 문자열로 바꿈*

In [9]:
info5 = "이름: %s, 나이: %5d, 주소: %s, 키: %.2f" % (name,age,address,175.8) #.2 -> 소숫점 2자리 까지
info5

'이름: 홍길동, 나이:    20, 주소: 서울시 서초구, 키: 175.80'

In [11]:
"점수는 %-5s%% 입니다" % (90)

'점수는 90   % 입니다'

#### 문자열 formating 연산자 % 사용시 정렬
- `'정렬%5d' % 10`: 문자열:"정렬" %data/-type:digit 5자리 띄우기 값:10

In [344]:
'정렬 %5d' % 10 #자릿수 5 채우기

'정렬   10'

In [231]:
'%-5d' % 10 #자릿수 반대쪽으로 5 채우기

'10   '

소숫점 맞추기
- `'0.5f' % 10`: 10을 소숫점 5자리까지 표기하기

In [349]:
"%0.5f" % 10

'10.00000'

In [350]:
'몸무게:{:.2f}, 키:{:.2f}'.format(67.7, 180.6666) #소숫점 2자리까지 표기

'몸무게:67.70, 키:180.67'

#### python 3.6부터 추가된 방식
- 앞에 f를 붙임으로 string 을 서식문자열로 바꿈 
- `f"문자열 {var/value}, 문자열 {var/value}, ..."`

In [240]:
info6 = f"이름: {name}, 나이: {age}, 주소: {address}" 
info6

'이름: 홍길동, 나이: 20, 주소: 서울시 서초구'

## string 주요 메소드

메소드 - 함수열과 비슷한 일을 하지만 형식이 다르다

`함수(피연산자)` --> 결과값

`피연산자.메소드()` --> 결과값

In [338]:
s1 = "        a       "
s1

'        a       '

`.strip` 좌우 공백을 없앰

`.lstrip` 왼쪽 공백을 없앰

`.rstrip` 오른쪽 공백을 없앰

In [339]:
s1.strip() #좌우 공백을 없앰

'a'

In [340]:
s2 = input("이름:")

이름:

In [246]:
len(s2)

8

In [247]:
len(s2.strip())

0

`.count(" ")` ""안의 값이 몇개 들어있는지 셈

In [356]:
s1.count("a")

1

In [358]:
s1.count(" ")

15

In [359]:
s2 = "aaaaassssssdfdf"

In [360]:
s2.count('as')

1

`.replace("전","후")`: 문자열중 전을 후로 바꾸기

In [30]:
a = "python is the best choice"
a.replace("best","worst")

'python is the worst choice'

`.split("구분자")` list형태로 구분자로 나눠서 return
- 생략하면 공백을 기준으로 나눔

In [368]:
s3 = "사과,귤,배, 수박"
s3.split(",") # list형태로 , 로 나눠서 return. 생략하면 공백을 기준으로 나눔

['사과', '귤', '배', ' 수박']

In [370]:
s3.split(" ")

['사과,귤,배,', '수박']

`.find('문자')`: 처음으로 '문자'가 나온 위치(index) 반환
- 만약 찾는 문자가 없으면 -1을 반환

In [20]:
a = "python is the best choice"
a1 = a.find("p")
a2 = a.find("u")
a3 = a.find("is")
a4 = a.find("c")
print(a1,a2,a3,a4)

0 -1 7 19

`.index('문자')`: 처음으로 '문자'가 나온 위치(index) 반환
- 만약 찾는 문자가 없으면 에러남

In [22]:
a = "python is the best choice"
a1 = a.index("p")
a3 = a.index("is")
a4 = a.index("c")
print(a1,a3,a4)
a2 = a.index("u")

0 7 19

ValueError: substring not found

`"삽입문자".join("문자열")`: 문자열의 각 문자 사이에 삽입문자 삽입

In [29]:
print("0*".join(a))
print("$$".join(["a","b","cedf"]))

p0*y0*t0*h0*o0*n0* 0*i0*s0* 0*t0*h0*e0* 0*b0*e0*s0*t0* 0*c0*h0*o0*i0*c0*e
a$$b$$cedf

### 변환 함수
정수로 변환: `int(값)`
실수로 변환: `float(값)`
문자열로 변환: `str(값)`
bool(값)

In [259]:
num1 = input("num1:") # 문자열로 입력받는다
num2 = input("num2:")
num1+num2

num1:1
num2:2

'12'

In [271]:
num1 = input("num1:") # 문자열로 입력받는다
num1 = int(num1)
num2 = int(input("num2:"))
num1+num2

num1:1
num2:1

2

In [269]:
num1 = input("num1:") # 문자열로 입력받는다
num1 = int(num1)
num2 = input("num2:")
num2 = int(num2)
num1+num2

num1:1
num2:1

2

In [267]:
num2 = float(num2)
num1+num2

2.0

In [266]:
#int('aaa')
print(int(True))
print(int(False))

1
0