# **자료구조**

- 값을 여러개 저장 가능 
- 변수는 1개의 값만 저장가능 

1) **리스트**: 순서적으로 표현가능. index 바꿀수 있음

2) **튜플**: 순서적으로 표현가능. index 바꿀수 없음

3) **딕셔너리(사전)**: key(식별값)-value(data)로 묷어서 표현

4) **set(집합)**: 고유값만 모음

***

## 1) 리스트

특징:
- 순서(index)가 있는 자료구조.
- 원소 (element), 항목(item): 관리되는 값(value) 
- index로 원소를 식별 
- 다른 타입의 값을 모을 수 있다.
- 원소들을 다른 값으로 바꿀 수 있다. 문자열음 불가능(불변의개체)
- 관례적으로 이름에 _list를 붙이는 경우가 많음

리스트 만들기:
- `[값,값,값,값,...]`
- e.g.) [1,2,"f",3]


원소변경:
- `list[index] = 값`
- 바꾸는 index의 갯수가 집어넣는 값의 갯수와 같을 필요가 없음

In [2]:
str_list = ["A", True, 1, 20, "acs"]
print(str_list)
num_list = [10,20,30,40,50] #관례적으로_list를 붙이는 경우가 많음
print(num_list)

['A', True, 1, 20, 'acs']
[10, 20, 30, 40, 50]

In [3]:
num_list[0] #첫번째값 조회
print (num_list[3], num_list[1])

40 20

In [4]:
num_list[20] #값이 있는 index만 사용 가능

IndexError: list index out of range

In [5]:
num_list[2:]

[30, 40, 50]

In [6]:
num_list[::2]

[10, 30, 50]

In [7]:
num_list = [10,20,30,40,50]
num_list[0] = 1000
print (num_list)

[1000, 20, 30, 40, 50]

In [8]:
num_list[:3] = [1,2,3,4,5]
print(num_list)

[1, 2, 3, 4, 5, 40, 50]

In [9]:
num_list[::3] = [20,200, 2000]
print(num_list)

[20, 2, 3, 200, 5, 40, 2000]

### 리스트 연산자
`리스트 + 리스트`
- 두 리스트를 합침

In [13]:
list1 = [10,20,30,40,50,]
list2 = [1,2,3,4]
list3 = list1 + list2
print(list3)

[10, 20, 30, 40, 50, 1, 2, 3, 4]

`리스트 * n`
- 원소를 n번 반복

In [17]:
list4 = list1*3
list4

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

`in`, `not in`
- 특정 원소가 있는지 체크

In [18]:
30 in list1

True

In [19]:
10 not in list1

False

In [21]:
[10,20] in list1 # list [10,20] 이 있는지 물어보는 것

False

### 중첩리스트
- 리스트의 원소로 리스트(자료구조)가 추가된 것
<img src="2_1.jpg">
-> 3개의 값(하위리스트)이 있음.
- 조회: 리스트 [원소번호][하위리스트의 원소번호]

In [214]:
list5 = [
            [1,2,3],
            [4,5,6]
        ]                     # 가독성 위해 줄바꿈, list 5 = [[123,[456]]과 같음.
                              #행렬배열로 나옴 [2x3]

In [25]:
list5[0] #list5의 원소번호 [0]

[1, 2, 3]

In [27]:
list5[1][1] # list5의 원소번호[1], 하위리스트[1]의 원소번호[1]

5

### 리스트 대입

`원소, 원소, 원소 = [값, 값, 값]`
- 각 리스트의 원소들이 순서대로 들어간다.<br>
a,b,c = 10,20,30 <font color='blue'> variable a,b,c </font><br>
a,b,c = [10,20,30] <font color='blue'> list의 원소 a,b,c </font><br>

- 리스트 정의:<br>
list = [10,20,30]<br>
a,b,c = list

In [29]:
a,b = [1,2]
print(a,b)

1 2

In [30]:
l = [10,20]
print(l[0], l[1])

10 20

In [31]:
num1,num2 = l
num1

10

### 리스트 인덱싱과 슬라이싱
인덱싱: `리스트[인덱스][하위인덱스]`

슬라이싱: `리스트[범위][하위범위]`

In [6]:
a = [[1,2,3],"a","bcd",("a","b","c")]
print(a[0][2])
print(a[2][0:2])
print(a[3][:1])
print(a[1:2])

3
bc
('a',)
['a']

### 리스트 주요 메소드

<img src="2_2.jpg">


`.append()`: 마지막 원소로 값 추가

In [23]:
list1 = [10,20,30,40,50,60,]
list2 = list1.append(60) #list.append(60)은 반환값(결과값)이 없음. 처리하고 끝.
print(list1)
print(list2) #list2 = 반환값이 없으므로 None으로 나옴

[10, 20, 30, 40, 50, 60, 60]
None

In [24]:
list1.append([1000,3]) #리스트값 변화
list1

[10, 20, 30, 40, 50, 60, 60, [1000, 3]]

`.extend(추가리스트)`: 추가리스트를 원래의 리스트 뒤로 더함  
- 리스트 형식만 추가 가능
- 추가리스트의 각 요소가 리스트의 요소로 추가
- append는 리스트를 추가하면 리스트 전체가 요소로 추가

In [25]:
list1.extend([10,3])
list1

[10, 20, 30, 40, 50, 60, 60, [1000, 3], 10, 3]

`.insert(index, 값)`: 값을 index 에 삽입

In [77]:
list1.insert(1,5000)
list1

[10, 5000, 20, 30, 40, 50, 60, 60, 1000, 1000]

`sorted()`: 정렬

In [82]:
list6 = [5,7,2,8,3,4,6,0]
sorted(list6) #정렬된 새로운 리스트 반환, 리스트6 은 변환되지 않음

[0, 2, 3, 4, 5, 6, 7, 8]

In [83]:
sorted(list6, reverse=True) # 내림차순

[8, 7, 6, 5, 4, 3, 2, 0]

`.sort()`: 리스트 자체가 변경

In [84]:
list6.sort() #리스트 자체가 변경
list6

[0, 2, 3, 4, 5, 6, 7, 8]

In [85]:
list6.sort(reverse=True)
list6

[8, 7, 6, 5, 4, 3, 2, 0]

`.remove(삭제할 값)`: 리스트값 삭제
- 값을 가진 원소중 제일 앞에 있는 원소(index번호가 가장 낮은 원소)하나를 지움

In [86]:
list6.remove(5)
list6

[8, 7, 6, 4, 3, 2, 0]

In [8]:
list7 = [1,1,1,2,3]
list7.remove(1) #1의 값을 가진 원소중 제일 앞에 있는 원소(index번호가 가장 낮은 원소)하나를 지움
list7

[1, 1, 2, 3]

`del list[index]`: index에 해당하는 리스트 값 삭제

In [87]:
del list6[0]
list6

[7, 6, 4, 3, 2, 0]

`.pop(index)`: index에 해당하는 값을 삭제하고 그 값을 반환
- index 생략시 마지막 값을 반환하고 삭제

In [21]:
a = [1,1,1,2,3,4,5,6,7,8,4,3,2]
b = a.pop(0)
print(a,b)
c = a.pop()
print(a,c)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 4, 3, 2] 1
[1, 1, 2, 3, 4, 5, 6, 7, 8, 4, 3] 2

`.clear()`: 모든 원소들 삭제

In [89]:
list6.clear() # 모든 원소들 삭제
list6

[]

`.reverse()`: 역순으로 뒤집어줌

In [13]:
list8 = [1,1,1,2,3,"ㄱ",5]
list8.reverse()
list8

[5, 'ㄱ', 3, 2, 1, 1, 1]

`.index(값)`: 값의 위치를 반환

In [18]:
list9 = [1,1,1,2,3,"ㄱ",5,7]
a = list9.index(1)
b = list9.index(2)
c = list9.index("ㄱ")
print(a,b,c)

0 3 5

***
## 2) 튜플
- 순서대로 원소 저장, 중복된 값 허용
- 원소를 변경할 수 없음 -> 안전
- 각 위치마다 정해진 의미가 있고 그 값이 설정되면 바뀌지 않는 경우에 많이 사용

### 튜플 만들기
`(값,값,값)` 혹은 `값,값,값`
- () 생략 가능
- 원소 1개: 원소뒤에 `,`를 붙임 <br>
    
<img src = "2_3.jpg">

In [96]:
tu1 = ('a','b','c','d')
print (tu1)
tu2 = ("가","나",'다')
print (tu2)

('a', 'b', 'c', 'd')
('가', '나', '다')

In [120]:
a = (10) #정수
b = 10, #튜플
type(a), type(b)
print(type(a), type(b))

<class 'int'> <class 'tuple'>

In [99]:
type(tu2), type([1,2,3]) #output이 튜풀

(tuple, list)

In [100]:
tu3 = (1,2,3,1,1,1,2) # 같은 값들을 가질 수 있다

### 인덱싱과 슬라이싱
`튜플[원소]`, `튜플[슬라이싱 범위]`
- 각 원소들을 조회

In [102]:
print(tu3[0], tu3[2], tu3[4])

1 3 1

In [104]:
tu3[1:5]

(2, 3, 1, 1)

In [106]:
tu3[0] = 100 #원소를 바꿀 수 없다

TypeError: 'tuple' object does not support item assignment

### 튜플연산자
합치기<br>
`튜플 + 튜플`

In [108]:
tu4 = tu1 + tu2 + tu3 #서로 다른 타입도 합치기 가능
print(tu4)

('a', 'b', 'c', 'd', '가', '나', '다', 1, 2, 3, 1, 1, 1, 2)

곱하기<br>
`튜플 * n`
- n만큼 반복

In [109]:
tu1*3

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

`in`, `not in`

In [113]:
"a" in tu1, "가" not in tu1 #결과값도 튜풀

(True, True)

In [115]:
["a" in tu1, "가" not in tu1] #결과값 리스트

[True, True]

### 튜플대입

x = 100  *변수 = 값*<br>
y = 200

x와 y의 값을 바꾸고 싶으면:<br>
z = x  임시변수<br>
x = y -> x = 200<br>
y = z => y = 100<br>
--> 임시변수가 필요하고 번거롭다<br>

**튜플대입은 임시변수 없이 두 변수의 값을 서로 대입할 수 있다<br>**
`x, y = y, x` X에는y값, y에는 x값

In [147]:
a, b, c = 10, 20, 30
print(a,b,c)
a, b, c = c, a, b 
print(a,b,c)
a, b, c = b, c, a
print(a,b,c)

10 20 30
30 10 20
10 20 30

### 주요 메소드
튜플은 값을 변경하는 메소드는 없다.

`.index(값)`
- 값과 동일한 첫번째 원소가 몇번째 index에 있는지 반환.

`.count(값)`
- 튜플안에 매개변수로 전달한 값이 몇개 있는지 반환.

***

## 3) 딕셔너리(dictionary, 사전)

특징
- 키(key)-값(value) 쌍의 형태로 저장
- item: 키-값 
- key가 index의 역할을 하고 직접 지정
- 키는 중복이 될 수 없음
- 값은 중복 가능
- 주로 키로는 문자열을 사용

### 딕셔너리 만들기

`{키:값, 키:값,...}`
- 키는 불변의 값들만 사용 가능

In [3]:
fruits = {"참외":20, "수박":10,"사과":15}
fruits, type(fruits)

({'참외': 20, '수박': 10, '사과': 15}, dict)

In [1]:
# 함수를 이용해 생성
# dict(key=val, key=val,...) key 는 변수형식으로 지정
person = dict(name="홍길동", age=20, address="서울") #키를 variable로 저장하지는 않는다
person

{'name': '홍길동', 'age': 20, 'address': '서울'}

### 딕셔너리 조회
- `딕셔너리[키]`

### 딕셔너리 변경
- `딕셔너리[키] = 값`  

<img src="2_4.jpg">

In [4]:
fruits['수박'], fruits['사과']

(10, 15)

In [5]:
fruits['수박'] = 50 #변경
print (fruits)
fruits['귤'] =30
print (fruits) #없는 키값에 값을 주면 추가가 됨

{'참외': 20, '수박': 50, '사과': 15}
{'참외': 20, '수박': 50, '사과': 15, '귤': 30}

In [6]:
fruits['배'] #없는 키 조회

KeyError: '배'

### 메소드

`.get(key,기본값)`: 조회메소드 
- key가 없으면 기본값을 지정 기본값이 생략되면 None로 반환
- 딕셔너리[key] -> key가 없으면 에러

`keys()` key 만 모아서 반환 <br>
`values()` value 만 모아서 반환

In [7]:
print(fruits.get('사과'))  #사과찾기
print(fruits.get('배'))    #배 찾았는데 없으면 None 반환
print(fruits.get('배',0))  #베 찾았는데 없으면 0 반환

15
None
0

`len(사전)`
- 사전의 원소(item) 개수 조회

`in`, `not in` 
- 키의 값을 조회

In [167]:
"홍길동" in person #key 값의 유 무를 체크

False

In [168]:
'name' in person

True

In [8]:
name in person

NameError: name 'name' is not defined

`.pop("키")`
- 지우면서 값을 반환

In [192]:
fruits = {"참외":20, "수박":10,"사과":15,"사과":5} #중복인 경우 마지막 키값
fruits.pop("참외") #지우면서 값을 반환

20

In [193]:
fruits

{'수박': 10, '사과': 5}

`del 사전 ["키"]`
- 키값에 해당하는 item을 지움

In [184]:
del fruits ["사과"]
fruits

{'수박': 10}

`.items()` 
- (키-값) 묶어서 반환

In [185]:
p = person.items() #(key-value)묶어서 반환
p

dict_items([('name', '홍길동'), ('age', 20), ('address', '서울')])

`.keys()`
- 키값만 반환

In [187]:
person.keys()

dict_keys(['name', 'age', 'address'])

`.values()`
- 값만 반환

In [188]:
person.values()

dict_values(['홍길동', 20, '서울'])

***

## 4) 집합 (Set)
- 중복된 값 허용하지 않음
- 순서가 없다 => 원소의 식별자(index, slicing)가 없다.
- `{값,값,값}`
- `set()`을 이용해 다른 자료구조를 set으로 변환
- 딕셔너리는 key값을 조회, 변환

In [10]:
s1 = {1,2,3,4,5}
print(type(s1))
s1

<class 'set'>

{1, 2, 3, 4, 5}

In [198]:
s2 = {1,4,2,1,1,2,2,3,3,3,3,4}
s2

{1, 2, 3, 4}

In [ ]:
s2[0] # set은 index가 없다. 조회하는 기능이 없음

**Note** <br>
`ctrl +/`: commenting shortcut

### 집합 연산
합집합
- `집합|집합`
- `집합.union(집합)`

In [224]:
print(s1)
print(s2)
s1|s2 #합집합

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

{1, 2, 3, 4, 5}

In [201]:
s1.union(s2)

{1, 2, 3, 4, 5}

교집합
- `집합 & 집합`
- `집합.intersection(집합)`

In [202]:
s1 & s2

{1, 2, 3, 4}

In [203]:
s1.intersection(s2)

{1, 2, 3, 4}

차집합
- `집합 - 집합`
- `집합.difference(집합)`

In [204]:
s1-s2

{5}

In [205]:
s2-s1

set()

In [206]:
s1.difference(s2)

{5}

`.add(number)`: 한개의 값만 추가

In [12]:
s1.add(4)
s1

{1, 2, 3, 4, 5}

`.update([numbers])`: 여러 값 추가

In [14]:
s1.update([6,7,8])
s1

{1, 2, 3, 4, 5, 6, 7, 8}

***
# 자료구조 변환함수
- `list(변경대상)`: list 으로 변환.
- `tuble(변경대상)`: tuple 으로 변환.
- `set(변경대상)`: set으로 변환.
- 딕셔너리로 변환하는 함수는 없다.
- 변경대상이 딕셔너리인 경우 key값들만 모아 변환한다.

In [215]:
t = 1,2,3,4,5
print(t)
list(t)

(1, 2, 3, 4, 5)

[1, 2, 3, 4, 5]

튜플은 값을 못바꾸므로 리스트로 변환 후 값을 바꿔야 한다

In [216]:
#튜풀, 값을 못바꿈.
# 리스트로 변환 후 바꿈
l = list(t) #튜플 -> 리스트
l[0] = 100 #값 바꾸기
l

[100, 2, 3, 4, 5]

In [218]:
t = tuple(l) #리스트 -> 튜플
t

(100, 2, 3, 4, 5)

집합으로 변환

In [220]:
l = [1,1,5,1,1,2,2,]
set(l)

{1, 2, 5}