# 함수
작업을 처리하기 위한 명령문들의 묶음
- 재사용 가능
- 함수 정의: 함수 만들기
- 함수 호출: 함수 사용하기
- 파이썬에서 함수는 일급 시민 객채 (First Class Clitizen Object)
    - 값처럼 쓸수 있음 (변수, 인수(argument), 반환값으로 사용 가능)

## 함수의 호출

`함수이름([인수, 인수,]`<br>
int("100") <br>
=>>>100
- int: 함수의 이름
- "100": 인수(Argument)
- 100: 반환값(return value). 반환값이 없으면 None이 반환

## 함수의 정의
파이썬 실행환경 메로리에 올리는 것<br>
새로운 함수를 만드는 것.<br>
선언부와 구현부로 나누어진다
- 함수의 선언 부(Header): 함수의 이름과 인수를 받을 변수를 지정한다.
- 함수의 구현 부(Body): 함수가 호출 되었을 때 실행할 실행문들을 지정한다.

**def** `함수이름(인자, 인자, ...):`<font color=blue> 선언 부(Header)</font> <br>
(공백4개)`실행구문1`<font color=blue> 구현 부(Body)</font> <br>
(공백4개)`실행구문2`<br>
(공백4개)`실행구문3`<br>
...<br>
(공백4개)`return 결과값, 결과값, ...`  <br>
- 매개변수(인자, Parameter)는 인수를 만들기 위한 변수로 **0개이상** 선언할 수 있다.

In [7]:
# 함수정의: 파이썬 실행환경 메로리에 올리는 것
def greeting(): #선언 부:함수의 사용법 ()가 비어있을 때: parameter가 없는 함수.
                # greeting() 으로 이름으로 함수를 호출.
    print("안녕하세요") #구현 부: 알고리즘. 함수가 호출되었을때 하는 일
    print("반갑습니다")

In [4]:
#호출 : 이름([값,...])
greeting()

안녕하세요
반갑습니다

## 함수의 매개변수(Parameter)
피연산자와 같은 역할

In [20]:
def greeting2(name):                        # 호출하는 곳에서 변수를 받음
    print(f"{name}님 안녕하세요")

In [26]:
greeting2("홍길동")                         # greeting2에 일시키기
n = 2
greeting2(n)

홍길동님 안녕하세요
2님 안녕하세요

In [40]:
def plus(num1, num2, num3):
    print("{}+{}+{}+={}".format(num1,num2,num3,num1+num2+num3)) 
#   return None이 생략되어 있음
#==> 결과값을 출력밖에 못함

In [41]:
plus(1,2,3)
plus(2,3,0)
r = plus("2","dl","ㄹ")
print(r)

1+2+3+=6
2+3+0+=5
2+dl+ㄹ+=2dlㄹ
None

### 기본값이 있는 매개변수(parameter)
- 기본값이 있는 매개변수 뒤에는 일반 매개변수(기본값없는)는 선언 할 수없다

In [78]:
# age=0 호출할때 전달 값이 있으면 그 값이 대입되고 없으면 age는 0을 기본값으로 사용
def printInfo(id, name, age=0, address=None, hobby=[], ): # id, name 필수. age는 선택사항
    print(id, name, age, address, hobby)

In [79]:
printInfo("id-1","이름")

id-1 이름 0 None []

In [80]:
printInfo('id-2', "홍길동", 20)

id-2 홍길동 20 None []

In [85]:
# id, 이름, address
printInfo('id-3',"이순신","서울") #서울이 age에 대입

id-3 이순신 서울 None []

In [76]:
def f(x,y,z=None,k):
    pass                       # 구현문이 없을 경우 실행만 되게 함

==> 기본값이 있는 매개변수 뒤에는 일반 매개변수(기본값없는)는 선언 할 수없다

SyntaxError: invalid syntax (<ipython-input-76-708b2726eeb8>, line 4)

In [77]:
def f(x,y,z,k=None):
    pass

#### 키워드 인수 (Keyword argument): 
- 호출할때 매개변수명을 지정해서 값 전달

In [86]:
printInfo("id-4", "김영수", hobby = ['독서', '음악감상'])

id-4 김영수 0 None ['독서', '음악감상']

In [90]:
printInfo(age=20, address="인천", name="김영수", id="myid")

myid 김영수 20 인천 []

### 가변인수: `*변수명`
- 0 - n개의 전달값을 튜플로 묶어서 받는다
- 가변인수는 하나의 함수에 한개씩만 선언할 수 있다
- `*`를 인수(argument) 앞에 붙여줌으로 가변인수를 만듦
- 몇개의 값을 받을 지 모를 때 나열해서 입력 하면 자동적으로 튜플로 받음

*반복문 사용*

In [120]:
def sum_nums1(num_list):
    result = 0
    for num in num_list:
        result += num
    print(type(num_list))
    return result

*parameter를 묶어서 집어넣지 않으면 에러남*

In [121]:
v = sum_nums1([1,2,3,4,5])
print(v)

v = sum_nums1((1,2,3,4,5))
print(v)

v = sum_nums1(1,2,3)
print(v)

<class 'list'>
15
<class 'tuple'>
15

TypeError: sum_nums1() takes 1 positional argument but 3 were given

- `*`를 인수(argument) 앞에 붙여줌으로 가변인수를 만듦
- 몇개의 값을 받을 지 모를 때 나열해서 입력 하면 자동적으로 튜플로 받음

In [116]:
def sum_nums2(*num_list):
    result = 0
    for num in num_list:
        print(type(num_list))
        result += num
    return result

In [117]:
v = sum_nums2(1,2,3)
print(v)
print(sum_nums2())

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
6
0

*가변인수-보통인자: 형태가 안맞기 때문에 에러남* <br>
*가변인수-가변인자로 형태를 맞추어 주어야함*

In [122]:
l = [1,2,3,4,5]
v = sum_nums2(l)
# --> [list]+num (0)가 되기 때문에 에러남

<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

- `*`를 인자(parameter) 앖에 붙여줌으로 가변인자를 만듦.

In [123]:
l = [1,2,3,4,5]
v = sum_nums2(*l) #리스트(튜플)의 원소들을 가변인자로 전달.

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

### 가변인수: `**변수명`
- 호출할때 keyword 인수 형태로 전달하고 가변인수는 전달된 값을 dictionary로 처리한다
- 값의 개수는 제한없음

In [125]:
def personInfo(**info):
    print("ID:", info.get("id"))
    print("이름:", info.get("name"))
    print("I나이:", info.get("age"))
    print(type(info))
    print(info)

In [127]:
personInfo(id="id-0", age=20, address = "서울")

ID: id-0
이름: None
I나이: 20
<class 'dict'>
{'id': 'id-0', 'age': 20, 'address': '서울'}

In [130]:
info = {'id': 'id-0', 'age': 20, 'address': '서울'}
personInfo(**info)

ID: id-0
이름: None
I나이: 20
<class 'dict'>
{'id': 'id-0', 'age': 20, 'address': '서울'}

- 가변인수는 하나의 함수에 한개씩만 선언 할 수 있다.
- 가변인수는 일반 매개변수 다음에 선언해야 한다.
- 변수명 관례: `*args`, `**kwargs`

In [133]:
#가능
def a(n, m, *x, **y):
    pass
#불가능
def a(*c,*d):
    pass

SyntaxError: invalid syntax (<ipython-input-133-b3fb24211880>, line 5)

In [137]:
#불가능
def a(**y, m):
    pass

SyntaxError: invalid syntax (<ipython-input-137-3bda2965a67b>, line 2)

## 리턴값(Return value)
- return 반환값: 호출한 곳으로 반환값을 가지고 돌아가라
- return: 호출한 곳으로 돌아가라
- 반환값 생략시 None이 반환
- 반환값이 없을 경우(None) return 구문 생략할 수 있다

In [70]:
def plus2(num1, num2, num3):
    result = num1 + num2 + num3
    return result #return 반환값(result)

In [49]:
i = plus2(1,2,3)
i-20

-14

반환값이 여러개인 경우 => 자료구조로 묶어서 반환. (반환값은 1개만 가능하기 때문)

- 튜플로 반환

In [ ]:
def calculate(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
    return r1, r2, r3, r4 #튜플로 묶어준 형식.()가 생략됨

- 리스트로 반환

In [54]:
def calculate(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
    return [r1,r2,r3,r4]

In [55]:
add,sub,mult,div = calculate(1,2) #튜풀대입/리스트 대입 의 형식으로 반환
print(add,sub,mult,div)

3 -1 2 0.5

In [56]:
v = calculate(10,20)
print(v)

[30, -10, 200, 0.5]

- 딕셔너리로 반환

In [67]:
def calculate2(num1, num2):
    r1 = num1+num2
    r2 = num1-num2
    r3 = num1*num2
    r4 = num1/num2
    return{
        "덧셈":r1, "뺄셈":r2, "곱셈":r3, "나눗셉":r4
    }

In [69]:
d = calculate2(1,2)
print(d["덧셈"])
print(d)

3
{'덧셈': 3, '뺄셈': -1, '곱셈': 2, '나눗셉': 0.5}

# 함수는 일급시민객체 (First Class Citizen Object)
- 일급시민객체
    - 변수에 대입 가능
    - 함수 호출시 매개변수로 전달 할 수 있어야 한다.
    - 함수의 반환값으로 사용할 수 있어야 한다.

In [140]:
def hello(name):
    print(name+" 안녕하세요.")

In [141]:
hello("홍길동")

홍길동 안녕하세요.

In [143]:
my_hello = hello #my_hello로 hello와 같은 함수정의를 함
my_hello("이순신")

이순신 안녕하세요.

함수2 = 함수1 => 함수2도 함수1과 같은 일을 하게 만듦

In [148]:
calculate(1,2)
calc1 = calculate(1,2) #함수호출. calc1이 반환값
calc2 = calculate      #calc2를 calculate함수와 같은 일을 하는 함수로 정의

print(type(calc1))
print(calc1)
print(type(calc2))
print(calc2)
calc2(1,2)

<class 'dict'>
{'덧셉': 3, '뺄셈': -1, '곱셈': 2, '나눗셉': 0.5}
<class 'function'>
<function calculate at 0x000001D0B2169AE8>

{'덧셉': 3, '뺄셈': -1, '곱셈': 2, '나눗셉': 0.5}

값은 있는데 어떤 일을 할지 모르는 경우
- 함수를 불러서 함수를 처리

In [150]:
def calculate3(func):
    num1 = 10
    num2 = 20
    result = func(num1,num2)
    print(result)

In [151]:
def plus(n1,n2):
    return n1+n2

In [153]:
calculate3(plus)

30

In [155]:
def minus(n1,n2):
    return n1-n2

In [156]:
calculate3(minus)

-10

## 람다식(Lambda) - 익명함수
- 단일 구문으로 표현하는 익명의 함수
- 익명함수: 이름없이 구현만 가지고 있는 함수
- 일회성 함수를 만들 때 사용한다
- 구문


```python 
#[] 생략가능
lambda [매개변수] : 명령문

```
- 명령문: 
    - 하나의 명령문만 가능. 
    - 반환값이 있어야 한다 (명령문이 반환하는 값을 람다함수가 변환)

In [160]:
def minus(n1,n2):
    return n1-n2
minus

In [158]:
lambda n1,n2 : n1-n2

In [163]:
fun = lambda n1,n2 : n1-n2 # 재사용 가능
fun(1,2)

-1

In [162]:
(lambda x:x*20)(10) # 한번 쓰고 소모하는 함수

200

In [164]:
def calculate3(func):
    num1 = 1
    num2 = 2
    result = func(num1,num2)
    print(result)

In [168]:
calculate3(lambda x,y:x-y)

-1

In [169]:
calculate3(lambda x,y:x*y)

2

In [171]:
str_list = ['dfaf','fafsdff','werw','e','234234fsdaffda']
str_list.sort() # 사전식 배열로 sort
str_list

['234234fsdaffda', 'dfaf', 'e', 'fafsdff', 'werw']

In [172]:
str_list = ['dfaf','fafsdff','werw','e','234234fsdaffda']
str_list.sort(key=lambda x:len(x)) #.sort(key=함수): 함수가 반환하는 순서로 정렬
str_list

['e', 'dfaf', 'werw', 'fafsdff', '234234fsdaffda']

In [228]:
str_list = ['dfaf','fafsdff','werw','e','234234fsdaffda']
str_list.sort(key=len)
str_list

['e', 'dfaf', 'werw', 'fafsdff', '234234fsdaffda']

`filter(함수, 리스트)`:
- 리스트내 원소들중 특정 조건을 만족하는 것들만 걸러내는 함수.
- 원소 하나 하나를 함수에 전달해 True를 반환하는 것만 남긴다. 
- 반환타입은 bool이 됨

In [2]:
num_list = list(range(1,100))
even_list = filter(lambda x:x%2==0 ,num_list) # 일을 할 방법을 가지고 있다가 호출 됐을때 일을 함. (lazy실행). 한번 쓰고 버림
even_list #iterable type (generator - range()같은 역할을 함) 

#print(list(even_list))

In [223]:
for i in even_list:
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [226]:
ㅣ = [num for num in num_list if num%2 == 0] #list(even_list)와 같은 일을 함
                                              # 실행되는 시점에 결과값을 메모리에 저장 (램 자리 차지하고 있음)
                                              # filter는 방법을 가지고 있다가 사용할때 값을 만들음.

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

`map(함수, 리스트)`: 
- 리스트내 원소들을 처리해서 변형한 결과를 iterable로 반환한다

In [236]:
m = map(lambda x:x*200,num_list) #게으른 실행
list(m)

[200,
 400,
 600,
 800,
 1000,
 1200,
 1400,
 1600,
 1800,
 2000,
 2200,
 2400,
 2600,
 2800,
 3000,
 3200,
 3400,
 3600,
 3800,
 4000,
 4200,
 4400,
 4600,
 4800,
 5000,
 5200,
 5400,
 5600,
 5800,
 6000,
 6200,
 6400,
 6600,
 6800,
 7000,
 7200,
 7400,
 7600,
 7800,
 8000,
 8200,
 8400,
 8600,
 8800,
 9000,
 9200,
 9400,
 9600,
 9800,
 10000,
 10200,
 10400,
 10600,
 10800,
 11000,
 11200,
 11400,
 11600,
 11800,
 12000,
 12200,
 12400,
 12600,
 12800,
 13000,
 13200,
 13400,
 13600,
 13800,
 14000,
 14200,
 14400,
 14600,
 14800,
 15000,
 15200,
 15400,
 15600,
 15800,
 16000,
 16200,
 16400,
 16600,
 16800,
 17000,
 17200,
 17400,
 17600,
 17800,
 18000,
 18200,
 18400,
 18600,
 18800,
 19000,
 19200,
 19400,
 19600,
 19800]

In [235]:
[num*200 for num in num_list]

[200,
 400,
 600,
 800,
 1000,
 1200,
 1400,
 1600,
 1800,
 2000,
 2200,
 2400,
 2600,
 2800,
 3000,
 3200,
 3400,
 3600,
 3800,
 4000,
 4200,
 4400,
 4600,
 4800,
 5000,
 5200,
 5400,
 5600,
 5800,
 6000,
 6200,
 6400,
 6600,
 6800,
 7000,
 7200,
 7400,
 7600,
 7800,
 8000,
 8200,
 8400,
 8600,
 8800,
 9000,
 9200,
 9400,
 9600,
 9800,
 10000,
 10200,
 10400,
 10600,
 10800,
 11000,
 11200,
 11400,
 11600,
 11800,
 12000,
 12200,
 12400,
 12600,
 12800,
 13000,
 13200,
 13400,
 13600,
 13800,
 14000,
 14200,
 14400,
 14600,
 14800,
 15000,
 15200,
 15400,
 15600,
 15800,
 16000,
 16200,
 16400,
 16600,
 16800,
 17000,
 17200,
 17400,
 17600,
 17800,
 18000,
 18200,
 18400,
 18600,
 18800,
 19000,
 19200,
 19400,
 19600,
 19800]

- map
- filter
- reduce: 계산하면서 줄여나감. 
<img src="4_1.jpg">

In [3]:
#num_list 홀수 * 100
m = map(lambda x:x*100,filter(lambda x:x%2!=0,num_list))
list(m)

[100,
 300,
 500,
 700,
 900,
 1100,
 1300,
 1500,
 1700,
 1900,
 2100,
 2300,
 2500,
 2700,
 2900,
 3100,
 3300,
 3500,
 3700,
 3900,
 4100,
 4300,
 4500,
 4700,
 4900,
 5100,
 5300,
 5500,
 5700,
 5900,
 6100,
 6300,
 6500,
 6700,
 6900,
 7100,
 7300,
 7500,
 7700,
 7900,
 8100,
 8300,
 8500,
 8700,
 8900,
 9100,
 9300,
 9500,
 9700,
 9900]

In [238]:
[num*100 for num in num_list if num%2!=0]

[100,
 300,
 500,
 700,
 900,
 1100,
 1300,
 1500,
 1700,
 1900,
 2100,
 2300,
 2500,
 2700,
 2900,
 3100,
 3300,
 3500,
 3700,
 3900,
 4100,
 4300,
 4500,
 4700,
 4900,
 5100,
 5300,
 5500,
 5700,
 5900,
 6100,
 6300,
 6500,
 6700,
 6900,
 7100,
 7300,
 7500,
 7700,
 7900,
 8100,
 8300,
 8500,
 8700,
 8900,
 9100,
 9300,
 9500,
 9700,
 9900]

`tab`: 자동완성 단축키
- 메모리에 있는 애들만 나움
- 오타 안나게 도움됨


`shift + tab`: 설명나옴


`shift + tab + tab`: 설명 펼쳐짐

`?printInfo`: 설명 펼쳐짐

docstring
- 함수에 대한 설명
- 함수의 구현부의 첫번째어 여러줄 문자열로 작성
- 함수 매개변수/리턴타입에 대한 힌트(주석)
- 설명넣는 방법:

```python
def printInfo(id:"아이디-int", name:str, age:int, address:"주소"=None)->"리턴값주석":
    """설명
    매개변수 설명
    리턴값 설명
    예제"""

```

In [251]:
#함수에 대한 설명
def printInfo(id:"아이디-int", name, age:int, address=None)->"리턴값주석":
    """설명
    매개변수 설명
    리턴값 설명
    예제"""

    return f'{id},{name},{age},{address}'

In [252]:
printInfo